/* Site Colors Varibles  */
:root{
    --text-bg : #CECECE;
    --text-white: #FFFFFF;
    --text-black: #000000;
    --text-desc: #343434;
    --sub-text: #006FFD;
    --strock-text: #CCCCCC;
    --text-black-2: #343434;
    --color-bg:#F7F7F7;
}

/* Comon Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Lexend Deca' , sans-serif;
    font-weight: 400;
    color: var(--text-black);
}
.container{
    width: 1528px;
    margin: 0 auto;
}
.title{
    font-size: 57px;
    line-height: 55%;
    font-weight: 500;
    color: var(--text-black);
}
.sub-title{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    padding: 5px 20px;
    border-radius: 51px;
    border: 1px solid var(--strock-text);
    color: var(--sub-text);
    margin-bottom: 25px;
    display: inline-block;
    width: 146px;
    text-align: center;
}
.secoundery-btn{
    padding: 17px 102px;
    background-color: var(--text-black);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    border-radius: 29px;
    color: var(--text-white);
}

/* header css */
header{
    background-image: url(../image/Heder-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1676px;
    height: 1068.35px;
    margin: 25px auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 51px;
}
nav {
    flex-grow: 1;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 61px;
    justify-content: end;
}
nav ul li a{
    font-size: 18px;
    color: var(--text-white);
    position: relative;
}
nav ul li a::after {
    content: '';
    position: absolute;
    width: 43px;
    height: 2px;
    color: var(--text-white);
    bottom: -8%;
    left: 7%;
    display: block;
}
.hero-header h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 85px;
    line-height: 95px;
    letter-spacing: -3%;
    max-width: 1211px;
    margin-top: 166px;
    color: var(--text-white);
    font-weight: 400;
}

/* sponsor area */
.sponsor-section{
    padding: 28px 0px 54px 0px;
}
.sponsor-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.sponsor-brand img{
    width: 100%;
}

/* About section */
section.about-section {
    margin-bottom: 78px;
}
.about-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 137px;
}
.primery-text{
    color: var(--text-black);
}
.about-content p{
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    max-width: 752px;
    color: var(--text-desc);
    margin-top: 19px;
}
.about-counter {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 129px;
    margin-top: 235px;
}
.count-item {
    font-size: 48px;
}
.count-title{
    display: block;
    font-size: 22px;
    line-height: 55px;
    font-weight: 300;
}

/* Service Section */
.service-title p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-black-2);
    margin: 24px 0px 39px 0px;
    max-width: 875px;
}
.service-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
}
.service-item-1 {
    grid-row: 1/3;
}


/* consult section */
.consult-section{
    padding: 102px 0px 130px 0px;
}
.consult-title p{
    max-width: 911px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-black-2);
    margin-top: 24px;
}
.consult-mentor-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}
a.sub-title {
    width: 176px;
}

/* Package Section */
.package-section{
    padding: 50px 0px;
}

.package-title p{
    margin-top: 24px;
    max-width: 692px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-desc);
}
.package-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 27px;
}
.pack-img img{
    width: 100%;
}
.package-item{
    padding: 27px 26px 41px 26px;
    background-color: var(--color-bg);
    border-radius: 20px;
}
.package-content{
    padding-left: 47px;
}
.package-content h2{
    font-size: 34px;
    font-family: 400;
    line-height: 100%;
    margin: 31px 0px;
}
.pack-price span{
    font-size: 46px;
    font-weight: 400;
    line-height: 100%;
}
.pack-price span:last-child{
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    margin-left: 8px;
}
.divider{
    width: 100%;
    height: 2px;
    background-color: var(--strock-text);
    margin: 31px 0px 24px 0px;
}
.package-content ul{
    margin-top: 30px;
    padding: 0px 32px;
}
.package-content ul li{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    padding: 10px 0px;
}
button.secoundery-btn {
    margin: 55px auto auto auto;
    display: block;
}


/* tutorial section */
.tutorial-section{
    padding: 50px 0px 105px 0px;
}

.tutorial-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.tutorial-title {
    max-width: 492px;
}
.gide-btn {
    margin-top: -50px;
    margin-left: -150px;
}
.tutorial-title h1{
    font-size: 57px;
    font-family: 400;
    line-height: 67px;  
}
.tutorial-title p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-black-2);
    padding: 27px 0px 35px 0px;
}
.video-wrapper{
    display: flex;
    gap: 25px;
    margin-top: 90px;
}
.video-item img{
    width: 100%;
}

/* Footer Section  */
footer{
    background-color: #070707;
    width: 1674px;
    height: 514px;
    margin: 0 auto;
    border-radius: 29px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content p{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: var(--text-white);
    max-width: 408px;
    padding: 35px 0px;
}
.footer-social ul{
    display: flex;
    gap: 9px;
}
.footer-menu-item ul li a{
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #E1E1E1;
}
.footer-title{
    font-size: 22px;
    font-weight: 400;
    color: var(--text-white);
    line-height: 22px;
    margin-bottom: 22px;
}
.news-latter form {
    margin-top: 70px;    
}
.news-latter input{
    padding: 10px 20px;
    border-radius: 39px;
    text-align: center;
    background: transparent;
    outline: none;
    border: 1px solid var(--text-white);
}
.news-latter input::placeholder{
    color: var(--text-white);
}
.news-latter button{
    display: block;
    padding: 10px 79px;
    border-radius: 39px;
    text-align: center;
    margin-top: 18px;
}
.copyright{
    margin-top: 61px;
    color: var(--text-white);
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: #E1E1E1;
}